<h1>Invoice #<%= @invoice.id %></h1>

<%= form_with url: admin_invoice_path(@invoice), method: :patch, data: { turbo: false } do |f| %>
  <%= f.label :status, 'Status:' %>
  <%= f.select :status, ['in progress', 'completed', 'cancelled'], selected: @invoice.status  %>
  <%= f.submit 'Update Invoice Status' %>
<% end %>

<p>Created on: <%= @invoice.formatted_date %></p>
<p>Total Revenue: <%= number_to_currency(@invoice.total_revenue / 100.0) %></p>
<p>Customer: <%= @invoice.customer_name %></p>

<div id="admin_invoice_items">
  <% @invoice.invoice_items.each do |invoice_item| %>
    <div id="invoice_item_<%= invoice_item.id %>_info">
      <p>Item Name: <%= invoice_item.item.name %></p>
      <p>Quantity: <%= invoice_item.quantity %></p>
      <p>Unit Price: <%= number_to_currency(invoice_item.unit_price / 100.0) %></p>
      <p>Status: <%= invoice_item.status.capitalize %></p>
    </div>
  <% end %>
</div>
