<div class="container text-center">
  <h2 class="main_headings">Create a Coupon</h2>
  <%= form_with url: merchant_coupons_path(:merchant_id), method: :post, data: {tubro: false} do |f| %>
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %><br>
    <%= f.label :code, 'Unique Code:' %>
    <%= f.text_field :code %><br>
    <%= f.label :amount_off, 'Amount off:' %>
    <%= f.number_field :amount_off %><br>
    <%= f.label :percent_or_dollar, 'Choose percent or dollar for amount off' %><br>
    <%= f.radio_button :percent_or_dollar, value: 0 %>Percent
    <%= f.radio_button :percent_or_dollar, value: 1 %>Dollar<br>
    <%= f.submit %>
  <% end %>
</div>