<div class="container text-center">
  <h1>Name: <%= @coupon.name %></h1>
  <h2>Code: <%= @coupon.code %></h2></br>
    <% if @coupon.percent_or_dollar == 'percent' %>
      <p><%= @coupon.amount_off %>&#37 off</p>
    <% else %>
      <p><%= number_to_currency(@coupon.amount_off.to_f / 100.00) %> off</p>
    <% end %>
    <p><%= @coupon.status.to_s %></p>
    <p>Number of purchases: <%= @coupon.number_purchases %></p>
    <% if @coupon.status == 'active' %>
      <%= button_to "Deactivate coupon", merchant_coupon_path(@coupon.merchant_id), method: :patch, params: {deactivate_coupon: @coupon.id}, style: "color: red; display: inline-block;" %>
    <% else %>
      <%= button_to "Activate coupon", merchant_coupon_path(@coupon.merchant_id), method: :patch, params: {activate_coupon: @coupon.id}, style: "color: green; display: inline-block;" %>
    <% end %>
</div>