<h1> Merchant <%= @merchant.name %> Dashboard </h1>

<h3><%= link_to "Merchant Items", merchant_items_path(@merchant) %></h3>
<h3><%= link_to "Merchant Invoices", merchant_invoices_path(@merchant) %></h3>

<section class='top5'>
  <h2>Top 5 Customers</h2>
  <ul>
    <% @merchant.top_five_customers.each do |customer| %>
      <li>
        <%="Customer name: #{customer.first_name} #{customer.last_name} 
        - #{customer.transaction_count} successful transactions"%>
      </li>
    <%end%>
  <ul>
</section>

<div id=<%="packaged_items-#{@merchant.id}" %>>
  <h2> Items Ready to Ship </h2>
    <% @merchant.packaged_items.each do |packaged_item| %>
      <p><%= packaged_item.name %>
      <%= link_to "Invoice ##{packaged_item.invoice_id}", merchant_invoice_path(@merchant, packaged_item.invoice_id) %></p>
    <% end %>
</div>




