<div class="container text-center">
  <%= render 'shared/merchant_navbar' %>

  <div class="row">
    <div class="col">
      <h2 class="main_headings"> Items Ready to Ship </h2>
      <div id=<%="packaged_items-#{@merchant.id}" %>>
        <% @merchant.packaged_items.each do |packaged_item| %>
          <p>  <%= packaged_item.name %>
          <%= @merchant.formatted_date(packaged_item.created_at) %>
          <%= link_to "#{packaged_item.invoice_id}", merchant_invoice_path(@merchant, packaged_item.invoice_id) %> </p>
        <% end %> 
      </div>
    </div>


    <div class="col">
      <section class='top5'>
        <h2 class="main_headings">Top 5 Customers</h2>
        <ul>
          <% @merchant.top_five_customers.each do |customer| %>
            <li>
              <%="Customer name: #{customer.first_name} #{customer.last_name} 
              - #{customer.transaction_count} successful transactions"%>
            </li>
          <%end%>
        <ul>
      </section>
    </div>
  </div>
</div>
