<div class="container-fluid text-center">
  <%= render 'shared/merchant_navbar' %>

  <div class="row">
      <h1 class="main_headings"><%= @merchant.name %> Items</h1>
  </div>

  <div class="row">
    <div class="col">
      <div class="enabled_items">
        <h2 class="main_headings">Enabled Items</h2>
        <ul>
          <% @merchant.items.enabled.each do |item| %>
            <div class="enabled_item-<%=item.id%>">
              <li>
                <%= link_to item.name,  merchant_item_path(@merchant, item) %>
                <%= button_to "Disable #{item.name}", merchant_item_path(@merchant, item), params: { new_status: 'disabled' }, method: :patch, data: { turbo: false }, class: "right_button" %>
              </li>
            </div>
          <%end%>
        </ul>
      </div>
      
      <div class="disabled_items">
        <h2 class="main_headings">Disabled Items</h2>
        <ul>
          <% @merchant.items.disabled.each do |item| %>
            <div class="disabled_item-<%=item.id%>">
              <li>
                <%= link_to item.name,  merchant_item_path(@merchant, item) %>
                <%= button_to "Enable #{item.name}", merchant_item_path(@merchant, item), params: { new_status: 'enabled' }, method: :patch, data: { turbo: false }, class: "right_button" %>
              </li>
            </div>
          <%end%>
        </ul>
      </div>
      <h3><%= link_to "Create new item for #{@merchant.name}", new_merchant_item_path(@merchant) %></h3>
    </div>

    <div class="col">
      <div class="top_selling_items">
          <h2 class="main_headings">Most Popular Items and Date of most sales</h2>
          <ul>
            <% @merchant.most_popular_items.each do |item| %>
            <li><%= item.name %> - <%= item.top_selling_date.strftime("%m/%d/%y") %></li>
            <% end %>
          </ul>
        </div>  
    </div>
  </div>
</div>
