<h1><%= @merchant.name %> Items</h1>

<h2>Enabled Items: </h2>
  <div class="enabled_items" >
    <% @merchant.items.enabled.each do |item| %>
      <div class="enabled_item">
        <h3>Item name: <%= item.name %>
        <%= button_to 'Disable', merchant_item_path(@merchant, item), params: { new_status: 'disabled' }, method: :patch, data: { turbo: false } %>
      </div>
    <%end%>
  </div>

<h2>Disabled Items: </h2>
  <div class="disabled_items" >
      <% @merchant.items.disabled.each do |item| %>
      <h3>Item name: <%= item.name %>
      <%= button_to 'Enable', merchant_item_path(@merchant, item), params: { new_status: 'enabled' }, method: :patch, data: { turbo: false } %>
    <%end%>
  </div>