<h1><%= @merchant.name %> Items</h1>

<h3><%= link_to "Create new item for #{@merchant.name}", new_merchant_item_path(@merchant) %></h3>

<h2>Enabled Items: </h2>
  <div class="enabled_items" >
    <% @merchant.items.enabled.each do |item| %>
      <div class="enabled_item-<%=item.id%>">
        <p>Item name: <%= link_to item.name,  merchant_item_path(@merchant, item) %></p>
        <%= button_to "Disable #{item.name}", merchant_item_path(@merchant, item), params: { new_status: 'disabled' }, method: :patch, data: { turbo: false } %>
      </div>
    <%end%>
  </div>

<h2>Disabled Items: </h2>
  <div class="disabled_items" >
      <% @merchant.items.disabled.each do |item| %>
      <div class="disabled_item-<%=item.id%>">
      <p>Item name: <%= link_to item.name,  merchant_item_path(@merchant, item) %></p>
      <%= button_to "Enable #{item.name}", merchant_item_path(@merchant, item), params: { new_status: 'enabled' }, method: :patch, data: { turbo: false } %>
      </div>
    <%end%>
  </div>