<h1>Add an item to <%=@merchant %></h1>

<%= form_with url: merchant_items_path(@merchant), method: :post, data: {turbo: false} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description%>

  <%= f.label :unit_price, "unit price" %>
  <%= f.text_field :unit_price %>
  
  <%= f.submit "submit" %>
<% end %>