<div class="container text-center">
  <%= render 'shared/merchant_navbar' %>

  <div class="row">
    <h1 class="main_headings">Add an item to <%=@merchant.name %></h1>
  </div>
  <div class="row">
    <ul>
      <%= form_with url: merchant_items_path(@merchant), method: :post, data: {turbo: false} do |f| %>
        <li><%= f.label :name, 'Name: ' %>
        <%= f.text_field :name %></li>

        <li><%= f.label :description, 'Description: ' %>
        <%= f.text_field :description%></li>

        <li><%= f.label :unit_price, 'Unit Price: ' %>
        <%= f.text_field :unit_price %></li>
        
        <%= f.submit "Submit" %>
      <% end %>
    </ul>
  </div>
</div>