<div class="container-fluid text-center">
  <%= render 'shared/merchant_navbar' %>

  <div class="row">
    <div class="col">
      <h1 class="main_headings"><%= @item.name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col" align="left">
      <ul>
        <li>Description: <%= @item.description %></li>
        <li>Current Price: <%= number_to_currency(@item.unit_price / 100.0) %></li>
      </ul>
      <%= link_to "Update #{@item.name} info" , edit_merchant_item_path(@merchant, @item) %>
    </div>
    <div class="col">
    </div>
  </div>
</div>